body {
    margin: 0;
    background-color: #fbfbfb;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  height: auto;
  overflow: auto;
}
ul.navbar li a {
  display: block;
  color: #000;
  text-decoration: none;
  float:left;
  padding:15px;
}
ul.navbar li a.active {
  background-color: #00ace6;
  color: white;
}
ul.navbar li a:hover:not(.active) {
  background-color: #80dfff;
  color: white;
}
@media only screen and (max-device-width: 414px), only screen and (max-width:550px) {
  ul.navbar li a {
    text-align: center;
    float: none;
    font-size:300%;
  }
  #logo{
    position: relative !important;
    font-size:500% !important;
  }
    #body{
        width:100%;
        font-size:200%;
    }   
}

#logo{
    font-family: cursive; font-size:200%; width:100%; text-align:center;    position: absolute;
    display: block;
}
#body{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f2f2f2;
    margin-top: 50px;
    min-height: 1000px;
    background-color: #fff;
}
#body-list{
    list-style: none;
}
#body-list li a{
    text-decoration: none;
    color: #00ace6;
    font-size: 150%;
    display: block;
}