body {
    margin: 0;
    background-color: #fbfbfb;
}
a{
      text-decoration: none;
      color:#00ace6;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  height: auto;
  overflow: auto;
  z-index: 0;
}
ul.navbar li a {
  display: block;
  color: #000;
  text-decoration: none;
  float:left;
  padding:15px;
}
ul.navbar li a.active {
  background-color: #00ace6;
  color: white;
}
ul.navbar li a:hover:not(.active) {
  background-color: #80dfff;
  color: white;
}
@media only screen and (max-device-width: 414px), only screen and (max-width:550px) {
  ul.navbar li a {
    text-align: center;
    float: none;
    font-size:300%;
  }
  #logo{
    position: relative !important;
    font-size:500% !important;
  }
    #body{
        width:100%;
        font-size:200%;
        max-width:none !important;
    }   
}

#logo{
    font-family: cursive; font-size:200%; width:100%; text-align:center;    position: absolute;
    display: block;
    z-index: -1;
}
#particles-js {
background: #86deff;
    position: fixed;
    width: 100%;
    height: 100%;
    /* margin-top: -100px; */
    /* padding-bottom: 100px; */
    z-index: -1;
    top: 0;

}
#body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f2f2f2;
    margin-top: 50px;
    min-height: 1000px;
    background-color: #fff;
    padding:20px;
    position: absolute;
    /* right: 50%; */
    /* transform: translate(50%,-50%); */
    /* top: 150%; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    opacity:.7;
}
#body-list{
    list-style: none;
}
#body-list li a{
    text-decoration: none;
    color: #00ace6;
    font-size: 150%;
    display: block;
}
.title{
       color: #00ace6;
       margin-left:auto;
       margin-right:auto;
       font-size:170%; 
       display:table;
}
.sub-title{
    color: #00ace6;
    font-size:150%; 
    display:block;  
}